/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
p {
  text-align: left;
}
header{
  background-color: aqua;
}
.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  background-color: #25C2A0; 
  color: black; /* cor das letras preta */
  border: none; /* remove a borda do botão */
  padding: 10px 20px; /* adiciona um pouco de espaço interno */
  border-radius: 5px; /* adiciona um pouco de arredondamento às bordas */
  transition: background-color 0.5s ease-out;
  border: 2px solid white ;
  font-size: 16px;
}

/* Define o estilo do botão quando o mouse está sobre ele */
button:hover {
  background-color: #303846; /* muda a cor de fundo para verde agua */
  color: white; /* muda a cor das letras para branca */
}
